body{
    /* background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1)); */
    background: linear-gradient(to right, #f0c27b, #4b1248);
}

.container{
    display: flex;
    flex-wrap: wrap;
}

.letter{
    padding: 2vh 3vw;
    margin: 1vh 1vw;
    border: 1px solid black;
    transition-property: all;
    transition-duration: 0.5s;
}

.letter:hover{
    background-color: aquamarine;
    color: white;
}

.correct{
    border: 1px solid lime;
    background-color: lime;
    color: #fff;
}

.wrong{
    background-color: red;
    color: #fff;
}

#guessCount{
    margin: 2vh 1vw;
}

#id{
    margin-left: auto;
}

#word{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#man{
    width: 100vw;
    display: flex;
    border: 1px solid black;
    justify-content: center;
    margin: 1vh 0;
}

#manImg{
    max-width: 10vw;
}

button
{
    margin: 1vh 1vw;
    background-color: #4b1248;
    color: white;
    border-radius: 10px;
    padding: 1vh 1vw;
}